---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<style>
  table {
    border: 1px solid black;
  }
  table caption {
    font-weight: bold;
    margin-bottom: 0.75em;
    caption-side: top;
    text-align: center;
  }
  .indent {
  margin-left: 40px; /* Adjust the value to control the indentation */
  }
  img {
    display: block;
    width: 70%;
    max-width: 500px;
    margin: 1.5rem auto;
  }
</style>

<BaseLayout pageTitle="Data">
  <Section>
    <h2>Data</h2>
    <p>
      The calculator relies on data collected by the Pennsylvania Department of
      Transportation (PennDOT) and publicly available at:
      <a
        target="_blank"
        href="https://www.penndot.pa.gov/ProjectAndPrograms/Planning/TrafficInformation/Pages/default.aspx"
        >https://www.penndot.pa.gov/ProjectAndPrograms/Planning/TrafficInformation/Pages/default.aspx</a
      >. We use the files listed under “Highway Statistics” for each year in the calculator. These data are
      in pdf files and were transferred to an Excel file for further
      processing.
    </p>
    <p>
      The data provide estimates of road mileage and annual VMT by county for seven
      functional classifications of roads; there is no distinction made between urban and rural roads in the data. Functional classifications define the type of
      service provided by a road, for example a freeway, turnpike, or
      expressway allows for higher speeds and will accommodate more vehicles
      per hour compared to an arterial road, which will have traffic signals
      and lower speeds. At the far extreme are local roads with low speed
      limits that serve final destinations, such as residential and local
      commercial areas.
    </p>
    <p>
      We combined some of the road classifications to minimize those
      instances in which there were zero road miles. A shortcoming of 
      Pennsylvania's data is that we do not have lane mileage data, only road
      mileage (center-line miles). To approximate lane-miles we used FHWA Highway 
      Statistic from 2018 to calculate the ratio of lane-miles to road-miles for each functional classification (ratios were basically unchanged from year to year).
      This provided us with a conversion factor to approximate the lane miles for each functional class. These are shown
      in the table below and represent average state-level one-directional measures
      of the number of lanes for each functional classification.
    </p>
    <p>
      Road classifications available in the data are listed in the table and
      those that were combined are shown. We combined interstates with freeways/expressways into one category. Major and minor collectors were combined into one category as well.
      There are 67 counties in Pennsylvania and we combined these based on metropolitan statistical areas (MSAs).  Some counties are not included as they are not part of an MSA. 
      For the Philadelphia metroplitan area we only include the five Pennsylvania counties (Philadelphia, Montgomery, Chester, Delaware, and Bucks) omitting that part of the MSA in New Jersey.
      The combinations are as follows:
      
      </p>
      <div class="indent">
      <p><strong>Allentown-Bethlehem-East Stroudsburg:</strong> Carbon, Lehigh, Monroe, Northampton</p>
      <p><strong>Altoona-Hungtingdon:</strong> Blair, Altoona-Hungtingdon</p>
      <p><strong>Bloomsburg-Berwick-Sunbury:</strong> Columbia, Montour, Northumberland, Snyder, Union</p>
      <p><strong>Erie-Meadville:</strong> Crawford, Erie</p>
      <p><strong>Harrisburg-York-Lebanon:</strong> Cumberland, Dauphin, Lebanon, Perry, York</p>
      <p><strong>Johnston-Somerset:</strong> Cambria, Somerset</p>
      <p><strong>Lancaster: </strong>Lancaster</p>
      <p><strong>Philadelphia:</strong> Bucks, Chester, Delaware, Montgomery, Philadelphia</p>
      <p><strong>Pittsburgh:</strong> Allegheny, Armstrong, Beaver, Butler, Fayette, Indiana, Lawrence, Washington, Westmoreland</p>
      <p><strong>Reading:</strong> Berks</p>
      <p><strong>Scranton-Wilkes-Barre:</strong> Lackawanna, Luzerne, Wyoming</p>
      <p><strong>State College-Dubois:</strong> Centre, Clearfield</p>
      <p><strong>Williamsport-Lock Haven: </strong>Clinton</p>

    </div>



      
      <p>
      Our first year of data is 2018 and we will update to the latest year
      available. Caution should be used when analyzing data and interpreting
      results for 2020 and 2021 due to changes in travel patterns due to the
      COVID pandemic.
      </p>
      <p>We also include an estimate of CO2 emissions. This is estimated based on the average transportation CO2e emissions per mile for the entire state which is 492.1 grams/mile. 
        Data on total transportation emissions was from the <a target="_blank" href="https://files.dep.state.pa.us/Energy/Office%20of%20Energy%20and%20Technology/OETDPortalFiles/ClimateChange/FINAL_2023_GHG_Inventory_Report_12.13.23.pdf"
        >2023 Pennsylvania Greenhouse Gas Inventory Report</a> for petroleum (Table 2 in report). This was divided by total VMT in 2022.</p>
      <p>
      Elasticity assumptions in the calculator are shown in the table for
      each road classification. In general, the empirical evidence suggests
      that larger higher speed roads have a larger elasticity. We have
      included a range and the calculator output provides a range of
      estimates for induced VMT. Given the potential range of estimates and
      variation in how VMT may be affected, we have included a
      “back-calculator” which allows the estimation of an “implied
      elasticity” based on forecast growth in VMT associated with a capacity
      expansion. This can be thought of as the elasticity implied by any
      forecasts of travel done by the state or a local agency promoting the
      capacity expansion. The assumption often made, is that there is no
      change in VMT attributable to the expansion, despite the evidence for
      induced travel. The user of the calculator is thus able to assess
      whether estimates made in forecasts are reasonable.
    </p>
    <table>
      <caption>Lane-mile conversions and elasticity estimates used in the calculator</caption>
      <colgroup>
        <col style="width: 26%" />
        <col style="width: 34%" />
        <col style="width: 17%" />
        <col style="width: 21%" />
      </colgroup>
      <thead>
        <tr class="header">
          <th><strong>Functional classifications</strong></th>
          <th><strong>Combined classifications</strong></th>
          <th><strong>Factor to convert to lane miles</strong></th>
          <th><strong>Elasticity range</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td>Interstates</td>
          <td rowspan="2">Interstate/Freeways/Expressways</td>
          <td rowspan="2">4.24</td>
          <td rowspan="2">0.7 - 1.0</td>
        </tr>
        <tr class="even">
          <td>Freeways/Expressways</td>
        </tr>
        <tr class="odd">
          <td>Principal arterials</td>
          <td>Principal arterials</td>
          <td>2.71</td>
          <td>0.7 - 1.0</td>
        </tr>
        <tr class="even">
          <td>Minor arterials</td>
          <td>Minor arterials</td>
          <td>2.52</td>
          <td>0.5 - 0.7</td>
        </tr>
        <tr class="odd">
          <td>Major collectors</td>
          <td rowspan="2">Major and Minor collectors</td>
          <td rowspan="2">2.47</td>
          <td rowspan="2">0.5 - 0.7</td>
        </tr>
        <tr class="even">
          <td>Minor collectors</td>
        </tr>
        <tr class="odd">
          <td>Local</td>
          <td>Local</td>
          <td>2</td>
          <td>0.3 - 0.5</td>
        </tr>
               
        </tr>
      </tbody>
    </table>

    
  </Section>
  <Section>
    <h2>Calculations</h2>
    <p>
      The elasticities shown above are used to determine how a change in
      lane miles will lead to a change in annual VMT. The formula for estimating
      the induced VMT is:
    </p>
    <p>
      <math display="block">
        <semantics>
          <mrow>
            <mrow>
              <msub>
                <mi mathvariant="italic">Induced</mi>
                <mi mathvariant="italic">VMT</mi>
              </msub>
              <mo stretchy="false">=</mo>
              <mi>ε</mi>
            </mrow>
            <mi>∙</mi>
            <mfrac>
              <mi mathvariant="italic">NewLM</mi>
              <mi mathvariant="italic">LM</mi>
            </mfrac>
            <mi>∙</mi>
            <mi mathvariant="italic">VMT</mi>
          </mrow>
        </semantics>
      </math>
    </p>
    <p>
      Where:
      <ul>
        <li>ε = elasticity</li>
        <li>NewLM = the newly added lane mileage for the county</li>
        <li>LM = the current lane mileage in the county</li>
        <li>VMT = the current vehicle-miles of travel in the county</li>
        <li>
          Induced<sub>VMT</sub> = the vehicle miles of travel induced by the
          increase in lane miles
        </li>
      </ul>
    </p>
    <p>
      The back-calculation simply reverses this equation but requires the
      user to input both “new lane miles” and the “forecasted annual increase in
      VMT”. The output is an implicit elasticity, that is, the elasticity
      that is implied by the forecast increase in VMT.
    </p>
    <p>The formula is as follows:</p>
    <p>
      <math display="block">
        <semantics>
          <mrow>
            <mrow>
              <mover accent="true">
                <mi>ε</mi>
                <mo>¯ </mo>
              </mover>
              <mo stretchy="false">=</mo>
              <mfrac>
                <msub>
                  <mi mathvariant="italic">VMT</mi>
                  <mi mathvariant="italic">forecast</mi>
                </msub>
                <mi mathvariant="italic">VMT</mi>
              </mfrac>
            </mrow>
            <mi>∙</mi>
            <mfrac>
              <mi mathvariant="italic">LM</mi>
              <mi mathvariant="italic">NewLM</mi>
            </mfrac>
          </mrow>
        </semantics>
      </math>
    </p>
    <p>
      Where:
      <ul>
        <li>
          <math display="inline">
            <semantics>
              <mover accent="true">
                <mi>ε</mi>
                <mo>¯ </mo>
              </mover>
            </semantics>
          </math>
          = implied elasticity
        </li>
        <li>VMT<sub>forecast</sub> = forecast of VMT provided by others</li>
        <li>VMT = the current vehicle-miles of travel in the county</li>
        <li>NewLM = the newly added lane mileage for the county</li>
        <li>LM = the current lane mileage in the county</li>
      </ul>
    </p>
  </Section>
  
